<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>ToDoList</title>
</head>

<body>
  <div class="corpo">
    <div id="board">
      <header class="header">
        <img src="./img/ToDoList.svg" alt="logo">
        <form action="/" method="post" id="formAdc">
          <input type="text" name="tarefa" id="tarefa" placeholder="Nome da tarefa">
          <input type="text" name="comentario" id="comentario" placeholder="Inserir comentário">
          <button type="submit" id="btnAdc">Adicionar</button>
        </form>
      </header>
      <div class="content">
        <div class="content">
          <div class="tasks">
            <ul>
              <li id="check"><input type="checkbox"></li>
              <li id="name">Nome da tarefa</li>
              <li id="coment">comenterio da tarefa tal de onde foi tal</li>
              <li id="date">01/01/0000</li>
            </ul>
            <ul>
              <li id="check"><input type="checkbox"></li>
              <li id="name">Nome da tarefa</li>
              <li id="coment">comenterio da tarefa </li>
              <li id="date">01/01/0000</li>
            </ul>
            <ul>
              <li id="check"><input type="checkbox"></li>
              <li id="name">Nome da tarefa</li>
              <li id="coment">comenterio da tarefa tal de onde foi tal e </li>
              <li id="date">01/01/0000</li>
            </ul>
            <ul>
              <li id="check"><input type="checkbox"></li>
              <li id="name">Nome da tarefa</li>
              <li id="coment">comenterio da </li>
              <li id="date">01/01/0000</li>
            </ul>
            <ul>
              <li id="check"><input type="checkbox"></li>
              <li id="name">Nome da tarefa</li>
              <li id="coment">comenterio da tarefa </li>
              <li id="date">01/01/0000</li>
            </ul>
            <ul>
              <li id="check"><input type="checkbox"></li>
              <li id="name">Nome da tarefa</li>
              <li id="coment">comenterio da tarefa </li>
              <li id="date">01/01/0000</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>

</html>