body, header, button, ul, li, span, div, p {
  margin: 0px;
  padding: 0px;
}

body {
  background: #000;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

.corpo {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  background: #000;
}

#board{
  margin: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 30px 20px rgba(62,0,141,.6), -10px -10px 30px 20px rgba(62,0,141,.6);
}
.header {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  background: #000;
  height: 150px;
  border-radius: 10px 10px 0 0;
  align-items: center;
}

.header img {
  margin-left: 50px;
}

.header form input{
  font-size: 1.5rem;
  padding: 10px 20px;
  background: #ddd;
  border-color: #3E008D;
  border-radius: 10px;
  margin-top: 20px;
}

.header form button{
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 10px;
  background: #3E008D;
  color: #fff;
}

.tasks {
  background: #fff;
  border-radius: 0 0 10px 10px;
}

.tasks ul{
  display: grid;
  grid-template-columns: 20px 180px 600px 180px 40px 40px;
  align-items: center;
  gap: 30px;
  padding: 10px 30px;
}

.tasks ul:nth-child(2n+1){
  background: #ddd;
  border-radius: 0 0 10px 10px;
}

.tasks ul li button{
  padding: 10px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border: none;
}

#del {
  background: url("./img/del.svg") center no-repeat;
}

#edit {
  background: url("./img/edit.svg") center no-repeat;
}